@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green-200: #4dda41;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #222;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--green-200);
}

::-moz-selection {
  color: black;
  background: var(--green-200);
}

::selection {
  color: black;
  background: var(--green-200);
}

body {
  background-color: #111;
  color: #aaa;
}
