.magnify {
  @apply absolute hidden bg-no-repeat border-2 border-[#333] rounded-full;
  width: 150px;
  height: 150px;
  transform: translate(-50%, -50%) scale(0);
  background-size: 500%;
  background-position: center;
  pointer-events: none;
  animation: scaleUp 200ms ease-in forwards;
}

@keyframes scaleUp {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  90% {
    transform: translate(-50%, -50%) scale(1.1);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
